@font-face {
    font-family: poppins;
    src: url(../vendors/font/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsL;
    src: url(../vendors/font/poppins/Poppins-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}
html,
body {
    color: #2d3436;
}

//Header and Nav
nav {
    position: fixed !important;
    width: 100% !important;
    transition: background 0.5s;
    z-index: 10;
    top: 0;
}
nav.scrolled {
    background: white !important;
    box-shadow: 2px 2px 20px #22262a;
}
header {
    .navbar {
        padding: 20px 0;
        .container {
            .navbar-brand {
                font-weight: 500;
                span {
                    color: #ef8b59;
                }
            }
            .navbar-toggler {
                font-size: 0.9rem;
            }
            .navbar-toggler:focus {
                text-decoration: none;
                outline: 0;
                box-shadow: 0 0 0 0.05rem;
            }
            .nav-icons {
                .nav-item {
                    text-transform: uppercase;
                    margin: 0 10px;
                    display: -webkit-inline-box;
                }
            }
            .navbar-nav {
                .nav-link {
                    color: #2d3436;
                }
                .nav-link:hover {
                    color: #ef8b59;
                }
                .nav-link.active {
                    color: #ef8b59;
                }
            }
            .offcanvas {
                .offcanvas-body {
                    .navbar-nav {
                        .nav-item {
                            text-transform: uppercase;
                            margin: 0 20px;
                        }
                    }
                }
            }
        }
    }
}

//Main Contents
.main {
    //Hero Section
    .hero-section {
        .container-fluid {
            height: 100vh;
            background: url("../assets/images/chair-and-table-with-lamp.png")
                no-repeat;
            background-position: right center;
            background-size: contain;
            background-color: #f9f3eb;

            .furniture-bg {
                position: absolute;
                z-index: 1;
            }
            .container {
                height: inherit;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;

                .text-container {
                    .display-3 {
                        font-weight: 500;
                        inline-size: 60%;
                        word-wrap: break-word;
                    }
                    h5 {
                        font-weight: 100;
                        inline-size: 60%;
                        word-wrap: break-word;
                        margin: 50px 0;
                        line-height: 1.5;
                    }
                    .btn {
                        background-color: #ef8b59;
                        color: white;
                        border-radius: 10px;
                        border: none;
                        padding: 10px 40px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    //Top Product Section
    .top-product-section {
        margin: 100px 0;
        .text-title {
            margin-bottom: 100px;
            text-align: center;
            h5 {
                font-family: poppinsL;
            }
        }
        .container {
            display: flex;
            justify-content: center;

            .row {
                .col-6 {
                    .card {
                        margin-bottom: 40px;
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                        box-shadow: 10px 8px 15px #d6d6d6;
                        .product-image-card {
                            img {
                                position: relative;
                            }
                            p {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                text-transform: uppercase;
                                background-color: #ef8b59;
                                color: #fff;
                                padding: 3px 20px;
                            }
                        }

                        .card-body {
                            .card-title {
                                font-size: clamp(10px, 3vw, 16px);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                opacity: 0.8;
                            }

                            .card-text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin: 20px 0 10px 0;
                                font-size: clamp(16px, 4vw, 20px);
                            }

                            .product-price {
                                font-size: clamp(12px, 4vw, 20px);
                                span {
                                    opacity: 0.5;
                                    margin-right: 10px;
                                }
                                a {
                                    color: #ef8b59;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Media Queries

//XL
@media (max-width: 1200px) {
    .main {
        //Hero Section
        .hero-section {
            .container-fluid {
                background-position: right center;
                background-size: 50%;

                .container {
                    .text-container {
                        .display-3 {
                            inline-size: 70%;
                            word-wrap: break-word;
                        }
                        h5 {
                            inline-size: 70%;
                            word-wrap: break-word;
                            margin: 30px 0;
                        }
                    }
                }
            }
        }
    }
}

//lg
@media (max-width: 992px) {
    .main {
        //Hero Section
        .hero-section {
            .container-fluid {
                height: 60vh;
                background-color: #f9f3eb;
                background-position: right center;
                background-size: 55%;

                .container {
                    .text-container {
                        .display-3 {
                            font-size: 36px;
                            inline-size: 60%;
                            word-wrap: break-word;
                        }
                        h5 {
                            font-size: 16px;
                            inline-size: 60%;
                            word-wrap: break-word;
                            margin: 30px 0;
                        }
                        .btn {
                            padding: 10px 30px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

//md
@media (max-width: 768px) {
    .main {
        //Hero Section
        .hero-section {
            .container-fluid {
                height: 70vh;
                background-position: right 50%;
                background-size: 40%;

                .container {
                    .text-container {
                        .display-3 {
                            font-size: 36px;
                            inline-size: 80%;
                            word-wrap: break-word;
                        }
                        h5 {
                            font-size: 14px;
                            inline-size: 70%;
                            word-wrap: break-word;

                            margin: 20px 0;
                        }
                        .btn {
                            padding: 8px 20px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

//sm
@media (max-width: 576px) {
    header {
        .navbar {
            padding: 15px 20px;
            .container {
                .navbar-nav {
                    .d-xs-none {
                        display: none;
                    }
                }

                .offcanvas {
                    .offcanvas-body {
                        .navbar-nav {
                            .nav-item {
                                a {
                                    font-size: 16px;
                                }
                                text-transform: none;
                                margin: 0 0 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        //Hero Section
        .hero-section {
            .container-fluid {
                height: 90vh;
                background-position-x: center;
                background-position-y: 20%;
                background-size: contain;

                .container {
                    justify-content: flex-end;

                    .text-container {
                        padding-bottom: 100px;
                        .display-3 {
                            font-size: 18px;
                            inline-size: 100%;
                        }
                        h5 {
                            font-size: 12px;
                            inline-size: 100%;
                            text-align: justify;
                            margin: 20px 0;
                        }
                        .btn {
                            padding: 8px 20px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

//XS
@media (max-width: 320px) {
    header {
        .navbar {
            padding: 15px 20px;
            .container {
                .navbar-nav {
                    .d-xs-none {
                        display: none;
                    }
                }

                .offcanvas {
                    .offcanvas-body {
                        .navbar-nav {
                            .nav-item {
                                a {
                                    font-size: 16px;
                                }
                                text-transform: none;
                                margin: 0 0 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        //Hero Section
        .hero-section {
            .container-fluid {
                height: 100vh;
                background-position-x: center;
                background-position-y: 20%;
                background-size: contain;

                .container {
                    justify-content: flex-end;

                    .text-container {
                        padding-bottom: 80px;
                        .display-3 {
                            font-size: 16px;
                            inline-size: 100%;
                        }
                        h5 {
                            font-size: 12px;
                            inline-size: 100%;
                            text-align: justify;
                            margin: 20px 0;
                        }
                        .btn {
                            padding: 8px 20px;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}
